.about-us-page {
    
    h1 {
        font-size: 2.5em;
        margin-block-end: 15px;
        color: #2c3e50;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    p {
        font-size: 1.2em;
        line-height: 1.8;
        color: #555;
        margin-bottom: 20px;
    }
}