.book-details-container {
    column-gap: 30px;

    .book-info {
        margin-block-end: 15px;

        gap: 10px;
        text-align: start;

        h1 {
            font-size: 2.5rem;
        }

        p {
            text-wrap: balance;
        }

        .show-more {
            color: #007BFF;
            cursor: pointer;
            text-decoration: underline;
            margin-left: 10px;
        }

        .show-more:hover {
            color: #0056b3;
            text-decoration: none;
        }


    }

    .back-btn:hover {
        background-position: right center;
        background-size: 200% auto;
        animation: pulseBack 1.5s infinite;
    }

    .prev-btn {
        background: linear-gradient(30deg, #D67E2A, #FFAE42);

        &:hover {
            background-position: right center;
            background-size: 200% auto;
            animation: pulsePrev 1.5s infinite;
        }
    }

    .next-btn {
        background: linear-gradient(30deg, #008080, #00B48C);

        &:hover {
            background-position: right center;
            background-size: 200% auto;
            animation: pulseNext 1.5s infinite;
        }
    }

    .book-thumbnil-container.on-sale {
        position: relative;
        width: fit-content;

        &::before {
            content: "SALE!";

            position: absolute;
            top: 10px;
            right: 10px;

            padding: 10px;

            color: rgb(255, 255, 255);
            background-color: rgba(255, 0, 0, 0.7);
            font-size: clamp(.7em, 1vw, 1em);
            font-family: Caudex-Bold, serif;
            animation: pulseOnSale 1.5s infinite;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%)
        }
    }
}

@keyframes pulseBack {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 48, 143, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(218, 103, 68, 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(218, 103, 68, 0%);
    }
}

@keyframes pulsePrev {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
    }
}

@keyframes pulseNext {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 180, 140, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 180, 140, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 180, 140, 0);
    }
}

@keyframes pulseOnSale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}