.book-details-container {
    display: grid;
    grid-template-areas:
        "img details"
        "reviews reviews";
    column-gap: 1.2rem;
    row-gap: 15px;

    .book-thumbnail-container {
        grid-area: img;
        margin: 0 auto;
    }

    .book-container {
        grid-area: details;
    }

    .reviews {
        grid-area: reviews;
        margin-inline: auto;
        width: 100%;

        fieldset {
            border: 2px solid var(--primary-clr);
            border-radius: 10px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

            legend {
                padding: 0 5px;
                margin-inline-start: 10px;

                font-weight: 600;
                font-size: 1.3rem;
            }
        }

        h2 {
            text-align: center;
            border-block-start: 2px dashed var(--primary-clr);
        }

        th {
            font-size: 1.2em;
        }

        .review-table {
            border-spacing: .3em;
            width: 100%;
        }

        .rating-img {
            max-width: 1em;
        }
    }


    .book-info {
        margin-block-end: 15px;

        gap: 10px;
        text-align: start;
        text-wrap: balance;

        h1 {
            font-size: 2.5rem;
        }

        .show-more {
            color: #007BFF;
            cursor: pointer;
            text-decoration: underline;
            margin-left: 10px;
        }

        .show-more:hover {
            color: #0056b3;
            text-decoration: none;
        }


    }


    .book-thumbnail-container.on-sale {
        position: relative;
        width: fit-content;

        &::before {
            content: "SALE!";

            position: absolute;
            top: 10px;
            right: 10px;

            padding: 10px;

            color: rgb(255, 255, 255);
            background-color: rgba(255, 0, 0, 0.7);
            font-size: clamp(.8em, 1vw, 1em);
            font-family: Caudex-Bold, serif;
            animation: pulseOnSale 1.5s infinite;
            clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%)
        }
    }

    .book-actions-container {
        display: grid;
        grid-template-areas: "prev-btn back-btn review-btn next-btn";
        justify-content: space-between;

        .prev-btn {
            grid-area: prev-btn;
        }

        .add-review-btn {
            grid-area: review-btn;
            background: linear-gradient(30deg, #D67E2A, #FFAE42);

            &:hover {
                animation: pulseAddReview 1.5s infinite;
            }
        }

        .back-btn {
            grid-area: back-btn;
            background: linear-gradient(30deg, #008080, #00B48C);

            &:hover {
                animation: pulseBack 1.5s infinite;
            }
        }

        .next-btn {
            grid-area: next-btn;
        }
    }

}

@keyframes pulseAddReview {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 165, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 165, 0, 0);
    }
}

@keyframes pulseBack {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 180, 140, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 180, 140, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 180, 140, 0);
    }
}

@keyframes pulseOnSale {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}