/* flex helpers */

.flex {
  display: flex;
}

.flex.flex-column{
    flex-direction: column;
}

.flex.justify-center{
    justify-content: center;
}

.flex.justify-between{
    justify-content: space-between;
}

.flex.align-center{
    align-items: center;
}

/* text helpers */

.colored-text {
    color: var(--clr1);
}

/* list helpers */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* text colors */

.red {
    color: red;
}

.green {
    color: green;
}

/* active link */

.active {
    font-family: Caudex-Bold, serif;
    scale: 1.1;
}

/* hidden element */
.hidden {
    display: none;
}